aniso8601==4.1.0
APScheduler==3.5.3
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.1
bs4==0.0.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
decorator==4.4.0
defusedxml==0.5.0
entrypoints==0.3
Flask==1.0.2
Flask-Cors==3.0.7
Flask-RESTful==0.3.7
gevent==1.4.0
greenlet==0.4.15
idna==2.8
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.6
numpy==1.16.0
pandas==0.24.0
pandocfilters==1.4.2
parso==0.3.4
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
pycparser==2.19
Pygments==2.3.1
Pyment==0.3.3
pymongo==3.7.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyrsistent==0.14.11
python-dateutil==2.7.5
pytz==2018.9
pywin32==224
pywinpty==0.5.5
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.21.0
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.9.5
terminado==0.8.1
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
