<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="application.app"/>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python34\python.exe|D:\Python34\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <httpPlatform processPath="C:\Envs\stocklab\Scripts\python.exe"
                arguments="C:\stock-lab\application.py --port 80"
                stdoutLogEnabled="true"
                stdoutLogFile="C:\home\LogFiles\python.log"
                startupTimeLimit="60"
                processesPerApplication="16">
  </system.webServer>
</configuration>